
# MTProxy
SECRET="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
EXTERNAL_IP="127.0.0.1"

# ipsec
VPN_PROTECT_CONFIG="yes"
VPN_IPSEC_PSK="your_ipsec_pre_shared_key"
VPN_USER="your_vpn_username"
VPN_PASSWORD="your_vpn_password"

VPN_CLIENT_NAME="your_client_name"