listen: :443

tls:
  cert: /acme/<your domain>.crt
  key: /acme/<your domain>.key

auth:
  type: password
  password: "<your password>"

masquerade:
  type: proxy
  proxy:
    url: "https://nginx:443"
    rewriteHost: true
    timeout: 10s

quic:
  initStreamReceiveWindow: 26843545
  maxStreamReceiveWindow: 26843545
  initConnReceiveWindow: 67108864
  maxConnReceiveWindow: 67108864

bandwidth:
  up: 200 mbps
  down: 200 mbps

ignoreClientBandwidth: false

disableUDP: false

udpIdleTimeout: 60s

resolver:
  type: system